
<html>
<head>
  <title>Online Examination</title>
<%= stylesheet_link_tag 'home' %>
</head>
<body>
	<div class="container">
		<h2>Online Examination</h2>
		<p>&nbsp;</p>
		<p><img src="/images/Result_image.png" height="300" width="320" /><p>
		<p>&nbsp;</p>
		<b>Hi <%= user%>!! You have scored <%= percent%> %</b>
		<p>&nbsp;</p>
		<p>Thank you, <%= user%>!! You have logged out Successfully</p>

<%= link_to 'Home', :root %>
</div>
</body>
</html>

